*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0C0C0C;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
}
h3{
    color: #fff;
}
.espaciador{
    margin: 30px 0;
}
.contenedor{
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 1;
    padding: 0 60px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header img{
    width: 90px;
    vertical-align: middle;
    margin: 0 20px 0 0;
}
header a{
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    font-size: 15px;
}
header .navbar a{
    text-align: center;
    margin: 0 10px 0 0;
}
header .navbar a:last-child{
    margin: 0;
}
header .header-buscador a{
    text-align: center;
    margin: 0 20px 0 0;
    font-size: 18px;
}
header .header-buscador a:last-child{
    margin: 0;
}
header .header-buscador a img{
    height: 40px;
    width: 40px;
    margin: 15px;
}
header .header-buscador a span{
    margin: 0;
}
/*--Main--*/
.main{
    height: 100vh;
    width: 100vw;
}
.main .main-video{
    width: 100%;
    height: 90vh;
    overflow: hidden;
}
.main .main-video video{
    min-width: 100%;
    min-height: 100%;
}
/*--Lista Carousel--*/
.lista{
    position: relative;
    max-width: 80vw;
}
.flecha-anterior,
.flecha-siguiente{
    position: absolute;
    /*para poder modificar el alto y el ancho*/
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    /*por el tamaño del alto del boton*/
    line-height: 30px;
    text-align: center;
    background: none;
    color: #fff;
    opacity: 20%;
}
.flecha-anterior:hover,
.flecha-siguiente:hover{
    opacity: 100%;
}
.flecha-anterior{
    left: -30px;
}
.flecha-siguiente{
    right: -30px;
}
.lista-indicadores .glider-dot:hover{
    opacity: 0.5;
}
.lista-indicadores .glider-dot.active{
    opacity: 1;
}
.lista-carousel{
    overflow: hidden;
}
.lista-item{
    text-align: center;
}
.lista-item img{
    height: 200px;
    width: 100%;
}
.lista-indicadores .glider-dot{
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    opacity: .2;
    border-radius: 0;
}